<app-header></app-header>
<div class="contenedor">
    <mat-card class="card">
      <mat-card-header class="card-header">
        <mat-card-title >¡REGISTRATE!</mat-card-title>
        <!--<mat-card-subtitle >Subtítulo</mat-card-subtitle>-->
      </mat-card-header>
      <mat-card-content class="contenido">
        <form class="formulario"> 
          <p>Crea tu cuenta para ser parte de nosotros</p>
          <input type="text" placeholder="Nombre">
          <input type="email" placeholder="Correo electrónico">
          <input type="password" placeholder="Contraseña">
          <input type="password" placeholder="Confirmar contraseña">
        </form>
      </mat-card-content>
      <mat-card-actions class="boton-container">
        <button class="boton" mat-button>Registrar</button>
        <p>¿Ya tienes una cuenta?<a routerLink="/login">¡Inicia sesión!</a></p>
      </mat-card-actions>
    </mat-card>
</div>
<app-footer></app-footer>

