<header class="header">
    <nav>
        <ul class="nav-list">
            <li>
                <a routerLink="/" class="link">Home</a>
            </li>
            <li>
                <a routerLink="/login" class="link">Login</a>
            </li>         
        </ul>
        <div class="contenedor-perfil">
            <a routerLink="/login" class="perfil">perfil</a>
            <span class="material-symbols-outlined">
            person
            </span>
        </div>  
    </nav>
</header>

