<header class="header">
    <nav>
        <ul class="nav-list">
            <li>
                <a class="link">
                    <i class="fa-solid fa-user" routerLink="/login"></i>
                </a>
            </li>
            <li>
                <a routerLink="/" class="link">Home</a>
            </li>

            <div class="contenedor-perfil">
                <div id="botones">
                    <a (click)="usuarios()" class="link">Usuarios</a> 
                </div>
                 <div id="botones">
                    <a (click)="publicaciones()" class="link">Publicaciones</a>
                 </div>   
            </div>
        </ul>
        <div>
            
            <img class="logo" src="icons/logo3.png" alt="">
        </div>

    </nav>
</header>

