<header class="header">
    <nav>
        <ul class="nav-list">
            <li>
                <a routerLink="/" class="link">Home</a>
            </li>
            <li>
                <a routerLink="/login" class="link">Login</a>
            </li>         
        </ul>
        <div class="contenedor-perfil">
            <a routerLink="/login" class="perfil">perfil</a>
        </div>  
        <i class="fas fa-home"></i>
<i class="fas fa-user"></i>
<i class="fas fa-heart"></i>

    </nav>
</header>

