<app-header></app-header>
  <div class="contenedor">
    <mat-card class="card">
      <mat-card-header class="card-header">
        <mat-card-title >Actualizar nombre de usuario</mat-card-title>
        <!--<mat-card-subtitle >Subtítulo</mat-card-subtitle>-->
      </mat-card-header>
      <mat-card-content class="contenido">
        <form class="formulario" [formGroup]="formularioActualizarNombre" (keyup.enter)="ActualizarNombre()">
            <i class="fa-solid fa-user" id="logoPersona"></i>
            <input formControlName="nombre" type="text" placeholder="Actualizar nombre">
            <div *ngIf="nombre?.invalid && (nombre?.touched || submitted)" class="error-message">
              <div class="nombre-obligatorio" *ngIf="nombre?.errors?.['required']">
                El nombre es obligatorio.
              </div>
              <div *ngIf="nombre?.errors?.['minlength']" class="error-nombre">
                El nombre debe tener un mínimo de 6 caracteres.
              </div>
            </div>
        </form>
      </mat-card-content>
      <mat-card-actions class="boton-container">
        <button class="boton" (click)="ActualizarNombre()" mat-button [disabled]="isLoading">
          <ng-container *ngIf="!isLoading; else cargando">
            Actualizar nombre
          </ng-container>
          <ng-template #cargando>
            <div class="spinner-actualizarNombre-container">
              <span class="spinner-text">Actualizando nombre... </span>
              <mat-progress-spinner
                class="spinner-actualizarNombre"
                diameter="18"
                mode="indeterminate"
                color="primary"
                strokeWidth="3"
                style="display: inline-block; vertical-align: middle;">
              </mat-progress-spinner>
            </div>
          </ng-template>
        </button>
        <button class="volverPerfil">
            <a (click)="volverPerfil()"><i class="fa-solid fa-left-long" id="atrasPerfil"></i> Volver al perfil</a>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
<app-footer></app-footer>