.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.contenido-superior{
    text-align: center;
    color: white;
    margin-top: -3rem;
    margin-bottom: 3rem;
    font-size: clamp(14px, 2vw, 20px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration:underline;
    i{
       font-size: clamp(1.5rem, 2vw, 2.5rem);
    }
}

.card{
    display: flex;
    width: 600px;
    min-width: 264px;
    max-width: 90%;
    min-height: 150px;
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0.477);
    margin-bottom: 3rem;
    transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-header{
    text-align: start;
    justify-content: start;
    color: white;
    mat-card-title{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: clamp(12px, 2vw, 20px);
        color: rgb(18, 161, 18);
    }
}

.contenido{
    display: flex;
    justify-content: start;
    cursor: pointer;
    p{
        color: rgb(255, 255, 255);
        font-size: clamp(12px, 2vw, 18px);
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;
        max-width: 100%;
    }
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 

    input{
        background-color: #eeeeee97;
        color: black;
        border: none;
        margin: 8px 0;
        padding: 10px 30px;
        font-size: 13px;
        border-radius: 8px;
        outline: none;
    }

    input:hover{
       background-color: #fff;
    }
}

button[mat-icon-button] {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
}

.avatar{
    width: 100%;
    height: 100%;
}

.btn-like {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: clamp(14px, 2vw, 18px);
  color: white;
  transition: color 0.3s;
}

.btn-dislike {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: clamp(14px, 2vw, 18px);
  color: white;
  transition: color 0.3s;
}

.btn-like.activo-like {
  color: #2196f3; /* Azul */
}

.btn-dislike.activo-dislike {
  color: #e53935; /* Rojo */
}

.btn-like:hover,
.btn-dislike:hover {
  transform: scale(1.1);
}


.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 300px;
    gap: 10px;
    color: #333;
    background-color: rgba(0, 0, 0, 0.451) !important;
    margin: 0 auto; /* Esto centra horizontalmente */
    border-radius: 1rem;
}

#textoCarga {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.filtros {
    display: flex;
    justify-content: center;
    color: white;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    border-radius: 10px;
    margin-top: -3rem;
    margin-bottom: 2rem;
    flex-direction: row;

}

.publicacion{
    display: flex;
    flex-direction: row;
    display: grid;
    align-items: start;
    justify-content: start;
    font-size: clamp(.7rem, 2vw, .9rem);
    button{
        display: flex;
        background: white;
        border: none;
        color: black;
        font-size: clamp(.7rem, 2vw, .9rem);
        margin-right: 9rem;
        margin-top: .5rem;
        padding: 0.2rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-radius: 3px;
        transition: transform 0.3s;
    }

    button:hover{
        background-color: rgb(0, 171, 0);
        color: white;
        transform: translateY(-2px);
    }
}

.nombreUsuario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.filtros label{
    color: white;
    display: block;
    margin-bottom: 4px;
    font-size: clamp(.7rem, 2vw, .8rem);
  }


/* Estilo para input */
.input-buscador {
  background-color: rgba(0, 0, 0, 0.421);
  border: 2px solid white;
  padding: 8px 12px;
  border-radius: 6px;
  color: white;
  outline: none;
  transition: border-color 0.3s;
  font-size: clamp(.7rem, 2vw, .8rem);
  width: 12.5rem;
  justify-content: center;
}

.input-buscador:focus {
  border-color: rgb(0, 171, 0);
}

.input-buscador::placeholder {
  color: rgb(201, 201, 201);
  opacity: 1; /* Asegura que el color sea sólido */
}

.spinner-publicando{
    margin-left: .1rem;
}

.abrir{
    display: flex;
    position: absolute;
    color:white;
    background-color: transparent;
    border:none;
    top: 20px;
    right: 5rem;
    font-size: clamp(15px, 2vw, 25px);
    transition: transform 0.3s;
    /*flex-direction: column;*/

    #flecha{
       font-size: clamp(.8rem, 2vw, 1rem);  
    }
}

.abrir:hover{
    transform: translateY(-5px);
}
