<app-header></app-header>
    <div class="contenido-superior">
        <p>Publicaciones dentro de la aplicación:</p>
    </div>
  <div class="contenedor">
    <mat-card class="card">
        <mat-card-header class="card-header">
            <mat-card-title >Nombre</mat-card-title>
            <!--<mat-card-subtitle >Subtítulo</mat-card-subtitle>-->
        </mat-card-header>
        <mat-card-content class="contenido">
            <p>Se me murió el tulipán NOOOOOOOO</p>
        </mat-card-content>
    </mat-card>
  </div>
<app-footer></app-footer>