<app-header></app-header>
  <div class="contenedor">
    <mat-card class="card">
      <mat-card-header class="card-header">
        <mat-card-title >¡Bienvenido!</mat-card-title>
        <!--<mat-card-subtitle >Subtítulo</mat-card-subtitle>-->
      </mat-card-header>
      <mat-card-content class="contenido">
        <form class="formulario"> 
          <p>Ingresa el nombre de tu hogar, lugar donde residen sus plantas.</p>
          <input name="nombre" type="text" placeholder="Nombre de su hogar" [(ngModel)]="nombreHogar" requiered>
        </form>
      </mat-card-content>
      <mat-card-actions class="boton-container">
        <button class="boton" (click)="registrarHogar()" mat-button>¡Registrar!</button>
      </mat-card-actions>
    </mat-card>
  </div>
<app-footer></app-footer>
