<app-header></app-header>
  <div class="contenedor">
    <mat-card class="card">
      <mat-card-header class="card-header">
        <mat-card-title >¡INICIA SESIÓN!</mat-card-title>
      </mat-card-header>
      <mat-card-content class="contenido">
        <form [formGroup]="formularioLogin" class="formulario"> 
          <p>Ingresa tus credenciales de usuario</p>
          <input formControlName="correo" type="email" placeholder="Ingrese su correo" [(ngModel)]="email" requiered>
          <input formControlName="contrasena" type="password" placeholder="Ingrese su contraseña" [(ngModel)]="password" required>
        </form>
      </mat-card-content>
      <mat-card-actions class="boton-container">
        <a class="olvidasteContrasena" (click)="verificarCorreo()">¿Olvidaste tu contraseña?</a>
        <button class="boton" (click)="onLogin()" mat-button [disabled]="isLoading">
          <ng-container *ngIf="!isLoading; else cargando">Iniciar sesión</ng-container>
            <ng-template  #cargando>
              <div class="spinner-login-container">
                <span class="spinner-text">Iniciando sesión...</span>
                <mat-progress-spinner
                  class="spinner-login"
                  diameter="18"
                  mode="indeterminate"
                  style="display: inline-block; vertical-align: middle;">
                </mat-progress-spinner>
              </div>
            </ng-template>
        </button>
        <p>Si no tienes cuenta<a id="botones" routerLink="/registro">¡Registrate!</a></p>
      </mat-card-actions>
    </mat-card>
  </div>
<app-footer></app-footer>


