<app-header></app-header>
<div class="contenedor">
    <p class="superior">Sección de comentarios</p>
    <mat-card class="card" *ngIf="publicacion">
        <div>
            <button class="cerrar" (click)="cerrar()">
                <i class="fa-solid fa-chevron-up"></i>
            </button>
            <button class="botonBan" mat-icon-button [matMenuTriggerFor]="menu1">
                <i class="fa-solid fa-exclamation" id="exclamacion"></i>
            </button>

            <mat-menu #menu1="matMenu">
                <button mat-menu-item (click)="eliminarPublicacion()">
                <i class="fa-solid fa-trash"></i> Eliminar publicacion
                </button>
            </mat-menu>

            <mat-card-header class="card-header" >
                <div mat-card-avatar>
                    <img src="icons/Perfil.png" alt="Avatar" class="avatar"/>
                </div>
                <mat-card-title>{{ publicacion.nombre }}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="contenido">
                <p>{{ publicacion.contenido }}</p>
            </mat-card-content>
        </div>
        <p class="titulo">Comentarios:</p>
        <div class="comentario-container">
            <input [(ngModel)]="nuevoComentario" type="text" placeholder="Escribe un comentario..." />
            <button [disabled]="comentarioEnviando" (click)="enviarComentario()">
            <ng-container *ngIf="comentarioEnviando; else iconoEnviar">
                <span class="spinner-text">Comentando...</span>
                <mat-progress-spinner 
                    class="spinner-comentando"
                    mode="indeterminate"
                    diameter="15"
                    strokeWidth="3"
                    color="primary"
                    style="display: inline-block; vertical-align: middle;">
                </mat-progress-spinner>
            </ng-container>
            <ng-template #iconoEnviar>
                Comentar <i class="fa-solid fa-paper-plane"></i>
            </ng-template>
            </button>
        </div>

        <div *ngIf="cargandoComentarios" class="spinner-container">
            <span class="spinner-text">Cargando comentarios...</span>
            <mat-progress-spinner
                class="spinner-comentarios"
                diameter="20"
                mode="indeterminate"
                color="primary">
            </mat-progress-spinner>
        </div>
        <div *ngIf="comentarios.length > 0">
            <mat-card class="card-comentarios" *ngFor="let comentario of comentarios" >
                <div>
                    <button mat-icon-button [matMenuTriggerFor]="menuuu">
                        <i class="fa-solid fa-exclamation" id="exclamacion"></i>
                    </button>
                    <mat-menu #menuuu="matMenu">
                        <button mat-menu-item (click)="eliminarComentario(comentario.id)">
                        <i class="fa-solid fa-trash"></i> Eliminar comentario
                        </button>
                    </mat-menu>
                    <mat-card-header class="header-comentarios" >
                        <div mat-card-avatar>
                            <img src="icons/Perfil.png" alt="Avatar" class="avatar-comentarios"/>
                        </div>
                        <mat-card-title >{{ comentario.nombre }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="contenido-comentarios">
                            <p>{{ comentario.contenido }}</p>
                    </mat-card-content>
                </div>
            </mat-card>
        </div>
    </mat-card>
</div>
<app-footer class="footer"></app-footer>