.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.contenido-superior{
    text-align: center;
    color: white;
    margin-top: -3rem;
    margin-bottom: 3rem;
    font-size: clamp(14px, 2vw, 20px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration:underline;
    i{
       font-size: clamp(1.5rem, 2vw, 2.5rem);
    }
}

.card{
    display: flex;
    width: 600px;
    min-width: 264px;
    max-width: 90%;
    min-height: 150px;
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0.477);
    margin-bottom: 3rem;
    transition: transform 0.3s;
    #exclamacion{
        text-align: end;
        color: red;
        position: absolute;
        top: 5px;
        right: 16px;
        font-size: 1.8rem;
        z-index: 10;
        cursor: pointer;
    }

    #baneado{
        text-align: center;
        color: red;
        position: absolute;
        top: 15px;
        right: 2.5rem;
        font-size: clamp(.6rem, 2vw, 1rem);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

}

.card:hover{
    transform: translateY(-5px);
}

.card-header{
    text-align: start;
    justify-content: start;
    color: white;
    flex-direction: column;
    mat-card-title{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: clamp(12px, 2vw, 20px);
    }
    .id{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: clamp(.6rem, 2vw, 1rem);
    }
    .nombre{
        margin-bottom: 0.3rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: clamp(12px, 2vw, 20px);
        color: rgb(16, 130, 16);
    }
    .nombre-datos{
        font-size: clamp(13px, 2vw, 18px);
    }
    .correo{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: clamp(13px, 2vw, 18px);
    }
}

.contenido{
    display: flex;
    justify-content: start;
    flex-direction: column;
    mat-card-title{
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: clamp(12px, 2vw, 20px);
        color: rgb(16, 130, 16);
    }
    p{
        color: rgb(255, 255, 255);
        font-size: clamp(12px, 2vw, 18px);
    }


}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 

    input{
        background-color: #eeeeee97;
        color: black;
        border: none;
        margin: 8px 0;
        padding: 10px 30px;
        font-size: 13px;
        border-radius: 8px;
        outline: none;
    }

    input:hover{
       background-color: #fff;
    }
}

button[mat-icon-button] {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
}

::ng-deep .mat-menu-panel {
  background-color: #d6d0d0 !important;
  color: white !important;
}

.matMenu{
  background: #f44336;
}

.class-menu{
    background: blue;
    color: blue;
}

.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 300px;
    gap: 10px;
    color: #333;
    background-color: rgba(0, 0, 0, 0.451);
    margin: 0 auto; /* Esto centra horizontalmente */
    border-radius: 1rem;
}

#textoCarga {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.baneado-label{
    color: white;
}



.filtros {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  margin-top: -3rem;
  margin-bottom: 2rem;
}

/* Estilo para input */
.input-container input {
  background-color: rgba(0, 0, 0, 0.421);
  border: 2px solid white;
  padding: 8px 12px;
  border-radius: 6px;
  color: white;
  outline: none;
  transition: border-color 0.3s;
  font-size: clamp(.7rem, 2vw, .8rem);
}

.input-container input:focus {
  border-color: rgb(0, 171, 0);
}

/* Estilo para select */
.select-container select {
  background-color: transparent;
  border: 2px solid white;
  padding: 8px 12px;
  border-radius: 6px;
  color: rgb(201, 201, 201);
  outline: none;
  transition: border-color 0.3s;
  appearance: none;
  background-color: rgba(0, 0, 0, 0.421);
  font-size: clamp(.7rem, 2vw, .8rem);
}

.select-container option{
    background-color: black;
}

.select-container select:focus {
  border-color: rgb(0, 171, 0);
}

/* Labels */
.input-container label,
.select-container label {
  color: white;
  display: block;
  margin-bottom: 4px;
  font-size: clamp(.7rem, 2vw, .8rem);
}

.input-container input::placeholder {
  color: rgb(201, 201, 201);
  opacity: 1; /* Asegura que el color sea sólido */
}

/* 🎉 Snackbar de éxito */
.snackbar-exito {
  background-color: #4caf50; /* verde */
  color: white;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

/* ❌ Snackbar de error */
.snackbar-error {
  background-color: #f44336; /* rojo */
  color: white;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

/* Botón de cerrar */
.mat-mdc-snack-bar-action {
  color: #fff;
  font-weight: bold;
}






