div{
    background: transparent !important;
    box-shadow: none !important;
}
.snackbar-container {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    padding: 12px 24px ;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    i{
        margin-left: .5rem;
        font-size: 1.5rem;
    }
}


/* Colores según el tipo */
.snackbar-container.exito {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: white !important; /* Verde */
  color: #4caf50 ;
  border-radius: 8px;
  box-shadow: 0 4px 8px #4caf50 !important;

  i{
    margin-right: .5rem;
    font-size: 1.5rem;
  }

}
.snackbar-container.error {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: white !important;
  color: red;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(144, 11, 11, 0.907) !important;

  i{
    margin-right: .5rem;
    font-size: 1.5rem;
  }
}

.snackbar-container.info{
  display: flex;
  text-align: center;
  background-color: white !important;
  color: red;
  border-radius: 8px;
  box-shadow: 0px 0px 6px 2px rgba(144, 11, 11, 0.907) !important;

  i{
    margin-right: .5rem;
    font-size: 1.5rem;
  }
}


.snackbar-container.saludo{
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: white !important; /* Verde */
  color: #4caf50 ;
  border-radius: 8px;
  border: #4caf50 !important;
  box-shadow: 0px 0px 6px 2px #4caf50 !important;

  i{
    margin-right: .5rem;
    font-size: 1.5rem;
  }
}

.snackbar-container.cierre{
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: white !important; /* Verde */
  color: #4caf50 ;
  border-radius: 8px;
  border: #4caf50 !important;
  box-shadow: 0px 0px 6px 2px #4caf50 !important;

  i{
    margin-right: .5rem;
    font-size: 1rem;
  }
}







