* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('assets/madera.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* ← ✅ CLAVE */
}





app-root {
    display: flex;
    flex-direction: column;
}

.contenedor {
    flex: 1;
}


.header{
    background-image: url('assets/primerplanohojas.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.footer{
    position: relative;
    background-image: url('assets/tierraoscura2.jpg');
    background-size: contain;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:top;
    box-shadow:0 0 10px 5px black;

    animation: shape2 5s linear infinite;
}

@keyframes shape2 {
    0%, 100%{
        border-radius: 40% 60% 0% 0% / 60% 60% 60% 50%;
    }

    33%{
        border-radius: 70% 30% 0% 0% / 30% 30% 70% 70%;
    }

    66%{
        border-radius: 100% 60% 0% 0% / 100% 100% 60% 60%;
    }
}

/* Estilo global para cambiar el color del spinner a negro */
.mat-mdc-progress-spinner.mat-primary .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: rgb(73, 73, 73) !important;
}

.spinner-login circle {
  stroke: white !important;
}

.spinner-publi circle{
   stroke: white !important;
}

.spinner-registro circle{
    stroke: white;
}

.spinner-registrohogar circle{
    stroke: white;
}

.spinner-comentarios circle{
    stroke: white;
}

.spinner-usuarios circle{
    stroke: white;
}

.contenido-cerrar-sesion{
    h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}



/* Fondo del popup */
.mi-swal-popup {
  border-radius: 20px;
  border: 3px solid #5d4037;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Título */
.mi-swal-title {
  color: red;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
}

/* Texto */
.mi-swal-text {
  color: #4e342e;
  font-family: 'Segoe UI', sans-serif;
}

/* Botón */
.mi-swal-button {
  background-color: #5d4037 !important;
  color: white !important;
  border-radius: 8px !important;
  padding: 8px 20px !important;
  font-weight: bold;
  transition: background-color 0.3s;
}

.mi-swal-button:hover {
  background-color: #6d4c41 !important;
}
